@model List<Pet>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-wrap hero-wrap-2" style="background-image: url('/Images/gallery-2.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end">
            <div class="col-md-15 ftco-animate pb-5">
                <h1 class="mb-0 bread" style="margin-left:50%; font-size:xx-large">You can adopt a lonely child or maybe a friend. <br />They need a home.</h1>
            </div>
        </div>
    </div>
    </section>
    <section class="ftco-section">
        <div class="container">
            <div class="row">
                @foreach (Pet pet  in Model)
                { 
                    <div class="col-md-4 ftco-animate">
                         <div class="work mb-4 img d-flex align-items-end" style="background-image:url(/Images/pet-@(pet.AnimalId).jpg);">
                            <div class="desc w-100 px-4">
                                <div class="text w-100 mb-3">
                                    <h2><a asp-controller="Adopt" asp-action="Info" asp-route-Id="@(pet.AnimalId)" style="color:black">@pet.Name</a></h2> 
                                </div>
                            </div>
                        </div>
                    </div>
                 }
            </div>
        </div>
    </section>
