
/* Gender*/
.last-clmn{
    width: 5%;
}
.icn-mr{
    margin-right: 5px;
}
.sbmt-area{
    padding-left: 40%;
}
.crt-btn-m5{
    margin-bottom: 15px;
}
.sure-txt{
    font-size: 20px;
    color: rgb(200, 56, 12)
}