<section class="container">
    <img src="~/Images/EmailApproveImage.jpg" style="
    display: block;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;" alt="An vetenerian listening cat's heart">
    <p style="margin-left: auto;
    margin-right: auto;
    display: block;
    width: 76%;
    margin-bottom: 10px;
    font-size: 25px;
    background: lavender;
    color: black;">
   We have sent you an an email, please confirm your account before trying to login. If you didn't get an email from smileymeowconfirmationhost@outlook.com, please sent an email to <a href="mailto:smileymeowsupport@gmail.com" style="text-decoration: none; color:#0B7AA1">smileymeowsupport@gmail.com</a>
</p>

<button type="submit" style="margin: auto;
    margin-left: 40%;
    margin-top: 15px;
    height: auto;
    background: lavender;
    color: black;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 20%"><a asp-controller="" asp-action="" style="text-decoration: none;">Go To Homepage</a></button>
</section>

<script src="~/js/redirect.js"></script>