@model Pronoun

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <form class="form-horizontal" asp-controller="APronoun" asp-action="PostDelete" method="post" asp-route-id="@Model.ProunounId">
        <div class="card-body">
            <h4 class="card-title">Delete Pronoun</h4>
            <div class="form-group row">
                <p class="sure-txt">Are you want to delete this pronoun ?</p>
                <label for="pronounid" class="col-sm-3 text-end control-label col-form-label">Id</label>
                <div class="col-sm-9">
                    <p class="form-control" id="pronounid" name="PronounId">@Model.ProunounId</p>
                </div>
                <label for="pname" class="col-sm-3 text-end control-label col-form-label">PName</label>
                <div class="col-sm-9">
                    <p class="form-control" id="pname" name="PName">@Model.PName</p>
                </div>
            </div>
        </div>
        <div class="border-top">
            <div class="card-body sbmt-area">
                <button type="submit" class="btn btn-primary">Yes</button>
                <a type="submit" asp-controller="APronoun" asp-action="" class="btn btn-primary">Cancel</a>
            </div>
        </div>
    </form>
</div>
