* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.appointment-form body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}
.formbold-mb-5 {
  margin-bottom: 20px;
}
.formbold-pt-3 {
  padding-top: 12px;
}
.appointment-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
}

.formbold-form-wrapper {
  margin: 0 auto;
  max-width: 550px;
  width: 100%;
  background: white;
}
.formbold-form-label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: #07074d;
  margin-bottom: 12px;
}
.formbold-form-label-2 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.formbold-form-input {
  width: 100%;
  padding: 12px 24px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  background: white;
  font-weight: 500;
  font-size: 16px;
  color: #6b7280;
  outline: none;
  resize: none;
}
.formbold-form-input:focus {
  border-color: #6a64f1;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-btn {
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  padding: 14px 32px;
  border: none;
  font-weight: 600;
  background-color: #6a64f1;
  color: white;
  width: 100%;
  cursor: pointer;
}
.formbold-btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold--mx-3 {
  margin-left: -12px;
  margin-right: -12px;
}
.formbold-px-3 {
  padding-left: 12px;
  padding-right: 12px;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.w-full {
  width: 100%;
}
@media (min-width: 540px) {
  .sm\:w-half {
    width: 50%;
  }
}

.forum-info-p {
  font-size: medium;
  color: rgba(156, 65, 90, 1);
}

/* .genderbox{
  width: auto;
  display: block;  
}

.box-label{
  width:75%;
  display: inline;
} */

.bg-img {
  background-image: url("../Images/forum-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-img:before {
  content: "";
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.1);
}

.no-bordered-form {
  width: 70%;
  margin: auto;
}

.formbold-form-wrapper {
  background-color: rgba(10, 160, 17, 0.9);
  border: rgba(10, 10, 200, 1) 5px solid;
}

.appointment-form * {
  color: black;
}
.appointment-form label {
  font-size: medium;
}

.forum-info-p {
  color: rgb(51, 0, 255);
  font-size: medium;
}

.block-level-info {
  display: block;
}

.dark-textarea-label {
  font-size: larger;
  color: black;
}

.select-district {
  display: none;
}

.collapse,
.navbar-collapse {
  margin: 0 15px 0 50px;
}

.mylogo {
  margin-right: 50px;
}

.pets-select {
  margin-left: 80px;
}
.pet-lab {
  padding-left: 65px;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}

.pet-add-btn {
  margin-left: 35px;
  width: 229px;
  margin-top: 70px;
}

.pet-select-div {
  margin-left: 67px;
  margin-top: 20px;
}
.pets-select {
  margin-bottom: 10px;
}

.loginout {
  font-size: 15px;
  color: rgb(102, 7, 217);
}
.or-p {
  margin-top: 50px;
  margin-left: 120px;
  font-size: 25px;
}
.new-one-txt {
  margin-left: 80px;
  width: 175%;
  margin-bottom: -2.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.info-pet-txt {
  margin-left: 10px;
  width: 175%;
  margin-bottom: -2.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
}

@media (min-width: 1025px) {
  .h-custom-2 {
    height: 100%;
  }
}

.login-txt {
  color: rgba(95, 10, 232, 0.8);
  letter-spacing: 1px;
}

.login-btn,
.register-btn {
  background-color: rgba(95, 10, 232);
  border-color: rgba(95, 10, 232);
}
.login-btn:hover,
.register-btn:hover {
  background-color: #008000;
  border-color: #008000;
}

.register-btn:disabled {
  background-color: rgb(255, 0, 0);
  border-color: #f00;
}

.login-image-right {
  object-fit: cover;
  object-position: left;
}
.login-form {
  width: 23rem;
}

.person-img {
  width: 100%;
  min-width: 50%;
  height: auto;
}

.terms-text {
  margin-top: 16px;
  display: block;
  width: 89%;
}

.confirmation-box {
  border: none;
  background-color: white;
}
.input-group-text {
  background-color: white;
  border: none;
}
.input-group,
.mb-3 {
  right: 15px;
}

.terms-and-conditions p {
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
