@model City

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="card">
 <div class="card-body">
            <h4 class="card-title">City Info</h4>
            <div class="form-group row">
                <label for="genderid" class="col-sm-3 text-end control-label col-form-label">Id</label>
                <div class="col-sm-9">
                    <p class="form-control" id="cityid" name="CityId">@Model.CityId</p>
                </div>

                <label for="fname" class="col-sm-3 text-end control-label col-form-label">CName</label>
                <div class="col-sm-9">
                    <p class="form-control" id="cname" name="CName">@Model.CName</p>
                </div>
            </div>
        </div>
        <div class="border-top">
            <div class="card-body sbmt-area">
                <a class="btn btn-primary" asp-controller="ACity" asp-action="Update" asp-route-id="@Model.CityId">Update</a>
                <a asp-controller="ACity" asp-action="Delete" asp-route-id="@Model.CityId" class="btn btn-primary">Delete</a>
                <a asp-controller="ACity" asp-action="" class="btn btn-primary">Cancel</a>
            </div>
        </div>
        </div>