@model SchoolType

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <form class="form-horizontal" asp-controller="ASchoolType" asp-action="Update" method="post" asp-route-id="@Model.SchoolTypeId">
        <div class="card-body">
            <h4 class="card-title">Update School Type</h4>
            <div class="form-group row">
                <label for="stname" class="col-sm-3 text-end control-label col-form-label">STName</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="stname" name="STName" value="@Model.STName">
                </div>
            </div>
        </div>
        <div class="border-top">
            <div class="card-body sbmt-area">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a type="submit" asp-controller="ASchoolType" asp-action="" class="btn btn-primary">Cancel</a>
            </div>
        </div>
    </form>
</div>
